{% extends "ui_pages/base.html" %}

{% block page_title %}Community Guidelines{% endblock %}

{% block page_content %}
    <h1 class="h2">Community Guidelines</h1>
    <ol>
        <li>Do not spam or self-promote anywhere on the site.</li>
        <li>Do not post inflammatory messages, threats, or any kind of objectionable content on user profiles, or anywhere else on the site.</li>
        <li>Do not upload or post offensive material, such as pornography, shock images, or anything that could be considered obscene, offensive, hateful, racist, discriminatory, vulgar, or in violation of local or international laws. This includes links to such material.</li>
        <li>Do not upload or post copyright-infringing material.</li>
    </ol>
{% endblock %}