{% extends "ui_pages/base.html" %}

{% block page_title %}Delete Photo Album{% endblock %}

{% block page_content %}
    <form
        action="{{ self::get_submit_action(content) }}"
        method="post"
        class="form"
        hx-boost="true"
        hx-push-url="true"
        hx-target="#main-article"
        hx-swap="outerHtml"
    >
        <h1 class="h2">Delete Photo Album</h1>
        {% if let Some(validation_alert) = content.validation_alert %}
            {{ validation_alert|safe }}
        {% endif %}
        {% if content.has_access %}
            <p>Are you sure you wish to delete the photo album <strong>{{ content.photo_album_title }}</strong>?</p>
            <div class="flex flex-justify-content-between mt-4">
                <a class="button" href="/photos/{{ content.photo_album_slug }}/">Cancel</a>
                <button type="submit" class="button button--danger button--elevated">Delete</button>
            </div>
        {% endif %}
    </form>
{% endblock %}
