{% extends "ui_pages/base.html" %}

{% block page_title %}Change Password{% endblock %}

{% block page_content %}
    <form
        action="/editor/update/profile-password/"
        method="post"
        class="form"
        hx-boost="true"
        hx-push-url="true"
        hx-target="#main-article"
        hx-swap="outerHtml"
    >
        <div class="container container--small">
            <h1 class="h2">Change Password</h1>
            {% if let Some(validation_alert) = content.validation_alert %}
                {{ validation_alert|safe }}
            {% endif %}
            {% if content.has_access %}
            <div class="form-control">
                <label for="edit-profile-current-password">Current Password</label>
                <input id="edit-profile-current-password" type="password" name="current-password" autocomplete="off">
            </div>
            <div class="form-control">
                <label for="edit-profile-new-password">New Password</label>
                <input id="edit-profile-new-password" name="new-password" value="{{ content.new_password }}" autocomplete="off">
            </div>
            <div class="flex flex-justify-content-between mt-4">
                <a class="button" href="{{ self::get_cancel_href(content) }}">Cancel</a>
                <button type="submit" class="button button--primary button--elevated">Submit</button>
            </div>
        </div>
        {% endif %}
    </form>
{% endblock %}
