{% extends "ui_pages/base.html" %}

{% block page_title %}{{ self::get_page_title(content) }}{% endblock %}

{% block page_content %}
    <form
        action="{{ self::get_submit_action(content) }}"
        method="post"
        class="form"
        hx-boost="true"
        hx-push-url="true"
        hx-target="#main-article"
        hx-swap="outerHtml"
    >
        <h1 class="h2">{{ self::get_page_title(content) }}</h1>
        {% if let Some(validation_alert) = content.validation_alert %}
            {{ validation_alert|safe }}
        {% endif %}
        {% if content.has_access %}
            <div class="form-control">
                <label for="edit-band-name">Band/Artist Name</label>
                <input id="edit-band-name" name="band-name" value="{{ content.band_name }}" maxlength="600" autocomplete="off">
            </div>
            <div class="flex flex-justify-content-between mt-4">
                <a class="button" href="{{ self::get_cancel_href(content) }}">Cancel</a>
                <button type="submit" class="button button--primary button--elevated">Submit</button>
            </div>
        {% endif %}
    </form>
{% endblock %}
