{% extends "ui_pages/base.html" %}

{% block page_title %}Forgot Password{% endblock %}

{% block page_content %}
    <form
        action="{{ self::get_submit_action(content) }}"
        method="post"
        class="form container container--small"
        hx-boost="true"
        hx-push-url="true"
        hx-target="#main-article"
        hx-swap="outerHtml"
    >
        <h1 class="h2">{{ self::get_page_title(content) }}</h1>
        {% if let Some(validation_alert) = content.validation_alert %}
            {{ validation_alert|safe }}
        {% endif %}
        {% if content.is_reset_success %}
        {% else if content.session.is_empty() %}
            <section class="card">
                <h2 class="h3">Your Info</h2>
                <div class="form-control">
                    <label for="forgot-password-username">Enter Your Username</label>
                    <input id="forgot-password-username" name="username" value="{{ content.username }}" maxlength="30" autocomplete="off">
                </div>
            </section>
            {% if let Some(captcha) = content.captcha %}
                {{ captcha|safe }}
            {% endif %}
            <div class="flex flex-justify-content-between mt-4">
                <button type="submit" class="button button--primary button--elevated ml-auto">Submit</button>
            </div>
        {% else %}
            <section class="card">
                <p>Please enter your new password.</p>
                <div class="form-control">
                    <label for="password-reset-new-password">New Password</label>
                    <input id="password-reset-new-password" name="password" autocomplete="off">
                </div>
            </section>
            <div class="flex flex-justify-content-between mt-4">
                <button type="submit" class="button button--primary button--elevated ml-auto">Submit</button>
            </div>            
        {% endif %}
    </form>
    {% if !content.session.is_empty() %}
        <img src="/assets/images/site/good-password.jpg" class="image image--centered mt-12" alt="How to create a good password." >
    {% endif %}
{% endblock %}