{% extends "ui_pages/base.html" %}

{% block page_title %}Privacy Policy{% endblock %}

{% block page_content %}
    <h1 class="h2">Privacy Policy</h1>
    Last modified: January 1, 2025<br>
    <h2 class="h3">Information we collect</h2>
    <ul>
        <li>Information you give us.<br>
        This includes all account information and comments/pictures posted on the site. Only first and last name are displayed on a user profile. Public display of all other information, such as e-mail, gender, birthdate, country, etc. is optional in account settings.</li>
        <li>Ip Address.<br>
        All ip addresses of devices (routers) that have connected to the site are logged.</li>
        <li>Cookies.<br>
        Cookies are mandatory in order to log in to the site, and contain no personal data.</li>
    </ul>
    <h2 class="h3">How we use information we collect</h2>
    <p>All information is logged as a result of running a user-based site. No private user information, such as a user's password or other fields not displayed on the user profile will be shared publically. In the event of a forgotten password, the user can request that a link to reset their password is sent to their email. That being said, all information you choose to display on this site at any given time becomes public domain.</p>
    <p>Ip addresses are kept in order to prevent spamming and wrongful use of this site.  Ip addresses will be added to a blacklist under extreme cases. This blacklist may exclude the sender from creating an account, logging in, or even viewing site content.</p>
    <h2 class="h3">Accessing and updating personal information</h2>
    <p>All information will be modifiable in the user's account.</p>
    <h2 class="h3">Information we share</h2>
    <ul>
        <li>For legal reasons.<br>
        If a user's information is requested by a governmental body for any reason, that user will be notified via e-mail. Such information may or may not be given up without user consent.</li>
        <li>For other reasons.<br>
        No account information is shared with any other external party, besides what you choose to have viewable on your profile and in the comments you post on the site. This includes your e-mail.  It is not shared with anyone. Spam is evil!</li>
    </ul>
    <h2 class="h3">Information security</h2>
    <p>The site is being carefully constructed in order to not introduce any security flaws. If you are worried that any information sent to this site may be exposed due to a security issue, then do not send that information to this site. Better safe than sorry.</p>
    <h2 class="h3">Changes</h2>
    <p>Our privacy policy may change. These changes will not reduce your rights without your consent.</p>
{% endblock %}