{% extends "ui_pages/base.html" %}

{% block page_title %}Terms of Service{% endblock %}

{% block page_content %}
    <h1 class="h2">Terms of Service</h1>
	<h2 class="h3">Your Acceptance</h2>
    <p hx-boost>By using or visiting SupercarBand.com you signify your agreement to (1) these terms and conditions (the "Terms of Service"), (2) this site's <a href="/privacy-policy/">Privacy Policy</a>, and (3) this site's <a href="/community-guidelines/">Community Guidelines</a>. If you do not agree to any of these terms, the Privacy Policy, or the Community Guidelines, then do not use this site.</p>
    <h2 class="h3">Service</h2>
    <p>These Terms of Service apply to everyone using the site, including contributors of content. "Content" includes text, software, scripts, graphics, photos, interactive features and other materials you may view on, access through, or contribute to the Service.  The Service includes all aspects of SupercarBand.com.</p>
    <p>The Service may contain links to third party websites that are not owned or controlled by this site. SupercarBand.com has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, SupercarBand.com will not and cannot censor or edit the content of any third party site. By using this Service, you expressly relieve SupercarBand.com from any and all liability arising from your use of any third-party website.</p>
    <h2 class="h3">SupercarBand.com Accounts</h2>
    <p>In order to access many features of the Service, you will have to create an account at this website. You may not use another's account without permission. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. Notify SupercarBand.com immediately of any breach of any unauthorized use of your account.</p>
    <p>Accounts may not be used in an unauthorized manner. This includes spamming or participating in illegal activities. Copyrighted content may be removed at the owner's request. Accounts will be deleted and all ip addresses that accessed them banned if used in an unauthorized manner.</p>
    SupercarBand.com reserves the right to decide whether submitted Content violates these Terms of Service for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length/file size. SupercarBand.com will remove such content without prior notice.<p></p> 
    <h2 class="h3">General Use of the Service-Permissions and Restrictions</h2>
    SupercarBand.com hereby grants you permission to access and use the Service as set forth in these Terms of Serice, provided that:
    <p>You agree not to distribute in any medium any part of Service or the Content without SupercarBand.com's prior written authorization, unless SupercarBand.com makes available the means for such distribution through functionality offered by the Service.</p>
    <p>You agree not to alter or modify any part of the Service.</p>
    <p>You agree not to access Content through any technology or means other than that of which is provided by the Service itself.</p>
    <p>You agree not to use the Service for any commercial uses such as:<br>
    </p><ul>
    <li>the sale of access to the Service;</li>
    <li>the sale of advertising placed on or within the Service or Content; or</li>
    <li>the sale of advertising on any page of an ad-enabled blog or website containing Content delivered via the Service.</li>
    </ul>
    <p></p>
    <p>Prohibited commercial uses do not include any use that SupercarBand.com expressly authorizes in writing.</p>
    <p>You agree not to use or launch any automated system, including without limitation, "robots", "spiders", or "offline readers", that accesses the Service in a manner than sends more request messages to the SupercarBand.com servers in a given period of time than a human can reasonably produce in the same time period by using a conventional on-line web browser.</p>
    <p>In your use of the Service, you will comply with all applicable laws.</p>
    <p>SupercarBand.com reservs the right to discontinue any aspect of the Service at any time.</p>
    <h2 class="h3">Your Content and Conduct</h2>
    <p>As an account holder you may submit Content to the Service.</p>
    <p>You shall be solely responsible for the Content you submit and the consequences of submitting and publishing your Content on the Service. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish Content you submit, and you license to SupercarBand.com all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.</p>
    <p>You retain ownership rights to your content, however, by submitting Content to SupercarBand.com, you hereby grant SupercarBand.com a worldwide, non-exclusive, royalty-free, sublicensable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Content in connection with the Service.</p>
    <h2 class="h3">Terms of Service are subject to change.</h2>
{% endblock %}